*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #251a18;
  color: #E6E6E6;
  text-decoration-color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

#personalImg
{
  z-index: 5;
  border-radius: 25px;
  cursor: pointer;
}

#personalImg:hover
{

  transform: scale(1.1);
  opacity: 0.89;
  transition: 0.5s;

}

.lightmodebtn
{
  padding: 12px;
  background-color: white;
  color: #251a18;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  float: left;
}

.lightmodebtn:hover
{
  transform: scale(1.02);
  transition: 0.2s;
  background-color: #EEEAEA;
}

.light-mode
{
  background-color: #E2DEDE;
  color: black;
}

.modal
{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modalContent
{
  margin: auto;
  display: block;
  height: 95%;
  width: auto;
  max-width: 700px;
}

.modalContent, #caption
{
  animation-name: zoom;
  animation-duration: 0.6s;
}

#caption
{
  text-decoration-color: #ffffff;
  font-weight: bold;
}

@keyframes zoom
{
  from {transform:scale(0);}
  to {transform: scale(1);}
}

.close
{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s;
}

.close:hover, .close:focus
{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

header {
  background-color: #999;
  background-image: url(img/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 700px;
 
}

.volunteer
{
  font-family: 'Quicksand', sans-serif;
}

.volunteer1
{
  font-size: 16px;
}


.contactus
{
  left: 250px;
}

.socialli
{
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.5s;
}

.contactus .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.contactus .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
.contactus .social li a { color: #fff; }
.contactus .social li a:hover { color: #11ABB0; }
.contactus .social
{
  padding-left: 270px;
}

#volunteer
{
  border-radius: 30px;
}

#volunteer:hover
{
  transform: scale(1.5);
  transition: 0.3s;
}



header h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #fff;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

span
{
  font-weight: bold;
}


section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 540px;
  }
  
  header p {
    top: 530px;
    font-size: 1.5em;
  }
}


/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.container ul {
  text-align: left;

}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */

/* Gallery */

.gallery [class*="grid-2"], .gallery [class*="grid-3"]  {
  margin-bottom: 1%;
  margin-top: 1%;
  width: 50%;
}

.gallery a img {
  -webkit-transform: translateZ(0); /* Fix chrome pixel shift */
  transition: opacity .2s ease;
  opacity: 1;
}

.gallery a img:hover {
  opacity: .8;
}

@media screen and (min-width: 40em) {
  .gallery .grid-2 {
    width: 33.3333333%;
  }
}

.reveal-textImg
{
  width: 300px;
  height: 300px;
  background: #000;
  margin: 8px;
  left: 150px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  font-family: 'Quicksand', sans-serif;
  border-radius: 8px;
  border: 4px solid #000;
  position: relative;
  overflow: hidden;
}

.reveal-textImg:before, .reveal-textImg:after
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: 'Quicksand', sans-serif;
  background: inherit;
  transition: 0.5s;
}

.reveal-textImg:after
{
  background: #251a18;
  transform: translateY(100%);
  content: attr(data-text);
  text-decoration-color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.reveal-textImg:hover:after
{
  transform: translateY(0);
  box-shadow: 0 0 0 200px rgba(0,0,0,0.5);
  font-family: 'Quicksand', sans-serif;
}

.reveal-textImg:hover:before
{
  transform: translateY(-50%);
}

#techstr
{
  text-align: center;
  padding-bottom: 20px;
}

.tab
{
  float: left;
  border: 1px solid #ccc;
  background-color: #251a18;
  color: #2d2d2d;
  width: 30%;
  height: 350px;
  font-family: 'Quicksand', sans-serif;
}

.tab button
{
  display: block;
  background-color: inherit;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;

}

.tab button:hover
{
  background-color: #ddd;
  color: #251a18;
}

.tab button.active
{
  background-color: #ccc;
  color: #251a18;
}

.tabcontent
{
  float: left;
  border: 1px solid #ccc;
  border-left: none;
  height: 350px;
  padding: 0px 12px;
  width: 70%;
  font-family: 'Quicksand', sans-serif;
}

.tabcontent h3
{
  font-family: 'Quicksand', sans-serif;
  font-weight: 550;
}

.techexp
{
  text-align: center;
  padding-bottom: 10px;
}

#subheader
{
  font-weight: normal;
}

* {box-sizing: border-box}

/* Experience */
.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p {
    text-align: left;
  }
}


/* Education Block */
.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}


/* Testimonials */
.testimonial {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial img {
  height: 4em;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

.testimonial p {
  font-style: italic;
  color: #888;
  margin-top:  -15px;
}

/* Spotlight */
.spotlight {
  background-color: #f3e2d8;
  padding: 3em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

.spotlight img {
  width: 60%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.spotlight h1 {
  color: #e4382c;
}

.spotlight p {
  color: #6d5e53;
  font-size: 1.1em;
}

.spotlight a {
  background-color: transparent;
  border: 3px solid #e4382c;
  padding: 7px 35px;
  border-radius: 3px;
  color: #e4382c;
  font-size: 1.1em;
  opacity: .8;
  margin-bottom: 10px;
}

.spotlight a:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .spotlight {
    padding: 6em;
    text-align: left;
  }
  
  .spotlight h1, .spotlight p {
    text-align: left;
  }
  
}

